/* 讓多個按鈕在手機換到下一行時，會有間距 */
.btn-margin-bottom .btn {
    margin-bottom: 10px;
}

/* 內容置中的容器 */
.vertical-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

/* 取消表格內超連結自動底線 */
table a:not(.btn), .table a:not(.btn) {
    text-decoration: inherit;
}

table a:not(.btn):hover, .table a:not(.btn):hover {
    text-decoration: underline;
}

body > nav:first-of-type ~ * {
    margin-top: 54px;
    padding-top: 22px;
}
