$font-size-base: 16px !default;

$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$icon-font-path: "/build/fonts/bootstrap/";

@import "../../../node_modules/bootswatch/lumen/variables";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../../node_modules/bootswatch/lumen/bootswatch";

body {
    font-family: Arial, "Source Sans Pro", "Microsoft JhengHei", sans-serif;
}

.btn {
    font-size: 16px;
    font-weight: normal;
}

.input-group-btn > .btn {
    font-size: 12px;
}
