/* Sticky footer styles
-------------------------------------------------- */

$footHeight: 140px;
$footHeight_mobile: 213px;

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: $footHeight + 40px;
    @media (max-width: 768px) {
        margin-bottom: $footHeight_mobile;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: $footHeight;
    @media (max-width: 768px) {
        height: $footHeight_mobile;
    }
    background-color: #f5f5f5;
    font-size: 15px;
}

.footer > .container {
    padding-top: 10px;
}

.footer-list {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
    list-style: none;
}

.footer-list > li {
    display: inline-block;
}

.footer-list > li + li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #999999;
}

code {
    font-size: 80%;
}

#login:before {
    content: none;
}

.social-list > a{
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    color: #515151;
}
